@media only screen and (max-width:430px) {
    .navbar {
        display: block;
    }
    .toggle{
        display: block;
    }
    .navbar-logo {
        /* padding-left: 40px;
        margin-right: 50px;
        margin-left: 56px; */
        text-align: center;
    }
    #id3{
        color: white;
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: -26px;
        display: none;
    }
    .navbar-nav {
       
        width: 100%;
    position: absolute;
    top: 38px;
    }
    #id2{
        display: none;

    }
    .navbar-nav .list {
        display: block;
        justify-content: center;
    }
    .container {
        width: 100%;
        padding: 0;
        display: block;
    }
    .img-box {
        padding-top: 30px;
        width: 100%;
        display: block;
    }
    .img-box .pr-box {
        width: 100%;
        margin-bottom: 20px;
    }
    .pr-box img {
        width: 100%;
        transition: .6s;
    }
    .features, .our-team {
        margin-top: 50px;
    }
    section .abt-container {
        width: 100%;
        display: block;
    }
    .abt-container .left {
        width: 100%;
        text-align: center;
    }
    .abt-container .right {
        width: 100%;
    }
    .content {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .container section .inner-content {
        width: 100%;
        height: 250px;
        display: block;
    }
    .inner-content .left-inner {
        width: 100%;
        text-align: center;
    }
    .inner-content .right-inner {
        width: 100%;
    }
    .right-inner .inner-button {
        text-align: center;
    }
    footer {
        width: 100%;
    }


    /*-------------------------------- about -------------------------- */



    .page-heading h2{
        font-size: 30px;
    }

    section .abt-content{
        width:100%;
        display: block;
    
      
    }

    .abt-content .left{
        width:100%;
        margin-bottom: 60px;
    
    }
    .abt-content .right{
        width:100%;
       padding:0;
    
    
    
    }

    .img-box .team-box{
        width:100%;
        margin-bottom: 30px;
      
           
    
    }
    .pitems{
        width: 100%;
        display: block;
        justify-content: center;
    }
    .pitems .item{
        width: 50%;
        /* margin: 0 12px; */
        margin: auto;
    }

    /* contact */

    .abt-container .map{
        width:100%;
        text-align: center;
   
    }
    .abt-container .map-info{
        width: 100%;
        padding:0;
    }
}